/* You can add global styles to this file, and also import other style files */


body{

    background-image: url(../assets/img/wallpaperprog.jpg);

}

.resultOperation{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(236,43,43);
}

.operation{

    font-size: 20px;
    
}